**/.git
**/.github
**/.cursor
**/docs
**/node_modules
**/data
**/.gitignore
**/.gitkeep
**/*.md
**/docker-compose.yml
**/.env
**/*.env
**/.env.example
**/LICENSE
**/.trivyignore
**/trivy.yaml
**/agent-transcripts
**/*~
**/*.swp
**/.DS_Store
